<% if user_signed_in? %>
	Share the beauty! Upload the cities you find beautiful. 
<% else %>
	<div class="hero-unit">
		<h1>Wonders of the World!</h1>
		<p>
		Show the beautiful cities and hidden treasures you've fallen in love with! Show the world your  
		<%= link_to "El Dorado or Garden of Eden", "http://google.com/#output=search&sclient=psy-ab&q=beautiful+cities+in+the+world&oq=beautiful+cities&gs_l=hp.3.3.0l4.1046814.1051710.0.1054209.18.11.1.6.7.1.474.2793.0j5j3j1j2.11.0...0.0...1c.1.11.psy-ab.glGEnC_vImo&pbx=1&bav=on.2,or.r_qf.&bvm=bv.45921128,d.aWc&fp=d3fd8a97c72b318c&biw=1366&bih=667" %>.  
		</p>
		<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>