<h1>About</h1>
<p>
	<%= link_to "Wonders of the World", "http://http://www.google.com/search?q=wonders+of+the+world&hl=en&tbm=isch&tbo=u&source=univ&sa=X&ei=9KOCUbDjOcrqqQHMyoHYCw&sqi=2&ved=0CEcQsAQ&biw=1138&bih=507" %> is a community for you to share and discover the places you find most beautiful.  
</p>