<div class="footer">
	<small>
		<%= link_to "Rodeo Rails - One Month Rails", "http://onemonthrails.com" %>
		taught <%= link_to "by Mattan Griffel coded by Bobby Osborn", "http://mattangriffel.com" %>
	</small>
</div>